terratowns_endpoint="https://terratowns.cloud/api"
bloodborne = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/bloodborne"
    content_version=1
}
elden_ring = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/elden-ring"
    content_version=1
}
