user_uuid="00522451-153b-4131-ab48-43e132f662cc"
bucket_name="luubankuways"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"